header {
    background-color: #1FBED6;
    position: absolute;
    padding-top: 3%;
    width: 100%;
    height: 5%;
}

header ul {
    line-height: 10%;
    font-size: larger;
}

aside {
    position: relative;
  /*  margin-top: 12%;*/
    margin-right: 3%;
    margin-top: 6%;
    float: right;
}

section {
    position: relative;
    font-size: smaller;
    margin-top: 8%;
    margin-left: 5%;
    float: left;
    width: 50%;

}

footer {
    background-color: #1FBED6;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}



ul.nav{
    list-style:none;
    margin:0;
    padding:0;
    font-size: larger;
    /*text-align:center;*/
}









