h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
}

a {
	text-align: center;
	display: block;
    margin: 0 auto;
}

p {
	font-family: serif;
	padding: 0 1em 1em 1em;
}

p.center {
	text-align: center;
}

li.inline {
	display: inline;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.var_name {
	font-family: monospace;
}
