h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
}

a {
	text-align: center;
	display: block;
    margin: 0 auto;
}

p {
	font-family: serif;
	font-size: larger;
	padding: 0 1em 1em 1em;
}

p.center {
	text-align: center;
}

li.inline {
	display: inline;
}

pre code {
    display: block;
    font-family: monospace;	
    font-size: larger;
    white-space: pre;
    /*margin: 1em 0; */
}

.var_name {
	font-family: monospace;
	font-size: larger;
}
