header {
    background-color: rgb(255, 165, 0);
    position: absolute;
    padding-top: 3%;
    width: 100%;
    height: 5%;
}

section {
    position: relative;
    margin-top: 12%;
    margin-left: 3%;
    float: left;
}

aside {
    position: relative;
    font-size: larger;
    margin-top: 15%;
    margin-right: 20%;
    float: right;

}

footer {
    background-color: rgb(255, 165, 0); /*dark orange*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 69px;
}

ul.nav{
    list-style:none;
    margin:0;
    padding:0;
    /*text-align:center;*/
}

header ul {
    line-height: 10%;
    /*font-size: larger;*/
}





