html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(255,160,122);  /*orange*/
    font-family: sans-serif;
    font-size: larger;
    margin: 0 0 60px; /* bottom = footer height */
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #005500;
}

a:hover {
    text-decoration: underline;
    color: #0000AA;
}

a:active {
    text-decoration: underline;
    color: #000088;
}

header {
    background-color: rgb(255, 140, 0); /*orangered*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}



footer {
    background-color: rgb(255, 69, 0); /*dark orange*/
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1%;
    width: 100%;
    height: 60px;
   /* line-height: 250%*/
}

nav{
    font-size: larger;
}

nav a {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
}

img.centered { /*Class selector that horizontally centers images*/
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 50px;
    padding-bottom: 10px;}

ul.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

ul.nav li{
    display:inline;
}

ul.nav a{
    display:inline-block;
    padding: 10px;
}

ul.none {
    list-style-type: none;
}
