header {
/*    background-color: #1FBED6;*/
    position: absolute;
    padding-top: 1%;
    width: 98%;
   /* height: 5%;*/
    padding: 1%;
}

header ul {
   /* line-height: 10%;*/
    /*font-size: larger;*/
}

main {
    position: relative;
    font-size: smaller;
    margin-top: 11%;
    margin-bottom: 5%;
/*    margin-left: 5%;
    float: left;*/
  /*  width: 50%;*/
}

section {
    position: relative;
    font-size: larger;
    padding: 2% 2% 2% 2%;
    width: 40%;
}

pre code {
    /*background-color: #00FF00;*/
    padding: 0% 0% 0% 0%;
    display: block;
    font-family: monospace; 
    font-size: larger;
    white-space: pre-line;
    /*margin: 1em 0; */
}

footer {
/*    background-color: #1FBED6;*/
   /* font-size: larger;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    /*font-size: small;*/
    height: 2em;
}

ul.nav{
    list-style:none;
    margin:0;
    padding:0;
   /* font-size: larger;*/
    /*text-align:center;*/
}

section.left{
/*  margin-top: 8%;*/
    background-color: #FF5C5C;
    margin-left: 3%;
    float: left;
/*    width: 45%;*/
}

section.right{
/*  margin-top: 8%;*/
    background-color: #98FB98;
    margin-right: 3%;
    float: right;
/*    width: 45%;*/
}

.full_width {
     width: 90%;
}

.var_name {
    font-family: monospace;
    font-size: larger;
}






