header {
    background-color: #1FBED6;
    position: absolute;
    padding-top: 3%;
    width: 100%;
    height: 5%;
}

header ul {
    line-height: 10%;
    font-size: larger;
}

main {
    position: relative;
    font-size: smaller;
    margin-top: 8%;
/*    margin-left: 5%;
    float: left;*/
  /*  width: 50%;*/
}

section {
    position: relative;
    padding: 0% 2% 2% 2%;
    width: 40%;
}

footer {
    background-color: #1FBED6;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 69px;
}



ul.nav{
    list-style:none;
    margin:0;
    padding:0;
    font-size: larger;
    /*text-align:center;*/
}

.left{
/*  margin-top: 8%;*/
    background-color: #FF5C5C;
    margin-left: 3%;
    float: left;
/*    width: 45%;*/
}

.right{
/*  margin-top: 8%;*/
    background-color: #98FB98;
    margin-right: 3%;
    float: right;
/*    width: 45%;*/
}








